.box{
    width: 300px;
    height: 150px;
    display: block;
    margin: 150px auto;
    position: relative;
    border: 3px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
}
.btn{
position: relative !important;
top: 60px !important;
left: 55px !important;
}
a{
    text-align: center;
    text-decoration: none;
}